<p id="notice"><%= notice %></p>

<div class="toppage">
  <h1 class="top">カレンダー</h1>
  <br>

  <div class="row">
    <!-- 左側のカラム -->
    <div class="col-md-4">
      <div class="schedule">今後の予定一覧</div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>表示</th>
            <th>タイトル</th>
            <th>日程</th>
          </tr>
        </thead>
        <tbody>
          <% @blogs.each do |blog| %>
            <tr>
              <td><input type="checkbox" class="toggle-visibility" data-blog-id="<%= blog.id %>" checked></td>
              <td><%= link_to blog.title, blog_path(blog) %></td>
              <td><%= blog.start_time.strftime("%m-%d") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= form_with(model: @blog, local: true) do |form| %>
        <div class="title">
          <div class="form-tag">タイトル</div>
          <%= form.text_field :title %>
        </div>

        <div class="content">
          <div class="form-tag">内容</div>
          <%= form.text_field :content %>
        </div>

        <div class="time">
          <div class="form-tag">時間</div>
          <%= form.datetime_select :start_time %>
        </div>

        <div class="submit">
          <%= form.submit %>
        </div>
      <% end %>
    </div> <!-- col-md-4 終了 -->

    <!-- 右側のカラム -->
    <div class="col-md-8">
      <%= month_calendar events: @blogs do |date, blogs| %>
        <div class="calendar-day">
          <%= date.day %>
          <% blogs.each do |blog| %>
            <div class="calendar-event" data-blog-id="<%= blog.id %>">
              <%= link_to blog.title, blog_path(blog) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div> <!-- col-md-8 終了 -->
  </div> <!-- row 終了 -->
</div> <!-- toppage 終了 -->

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const checkboxes = document.querySelectorAll(".toggle-visibility");
    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener("change", function() {
        const blogId = this.getAttribute("data-blog-id");
        const events = document.querySelectorAll(`.calendar-event[data-blog-id='${blogId}']`);
        events.forEach(function(event) {
          if (checkbox.checked) {
            event.style.display = "";
          } else {
            event.style.display = "none";
          }
        });
      });
    });
  });
</script>