<p id="notice"><%= notice %></p>

<div class="show">
  <h1><%= @blog.title %></h1>
  <p><%= @blog.content %></p>
  <p><%= @blog.start_time %></p>

  <%= link_to '編集', edit_blog_path(@blog) %> |
  <%= link_to '削除', blog_path(@blog), method: :delete, data: { confirm: '本当に削除しますか？' } %> |
  <%= link_to '戻る', blogs_path %>
</div>