<h1>マイページ</h1>

<div class="user-info">
  <p>ユーザー名: <%= @user.username %></p>
  <p>メールアドレス: <%= @user.email %></p>
</div>

<div class="user-calendars">
  <h2>作成したカレンダー</h2>
  <ul>
    <% @user_calendars.each do |calendar| %>
      <h3><%= link_to calendar.title, user_calendar_path(calendar) %></h3>
      <p><%= calendar.description %></p>
    <% end %>
  </ul>
  <%= link_to '新しいカレンダーを作成', new_user_calendar_path %>
</div>



