<h1>マイページ</h1>

<div class="user-info">
  <p>ユーザー名: <%= @user.username %></p>
  <p>メールアドレス: <%= @user.email %></p>
</div>

<div class="user-calendars">
  <h2>作成したカレンダー</h2>
  <ul>
    <% if @user_calendars.present? %>
      <% @user_calendars.each do |calendar| %>
        <li>
          <h3><%= link_to calendar.title, user_calendar_path(calendar) %></h3>
          <p><%= calendar.description %></p>
        </li>
      <% end %>
    <% else %>
      <p>カレンダーが見つかりません。</p>
    <% end %>
  </ul>

</div>
<%= link_to 'Back', request.referer || posts_path %>
<%= link_to 'メインへ', request.referer || root_path %>


