<h1>カレンダー一覧</h1>

<%= link_to '新しいカレンダーを作成', new_user_calendar_path %>

<% @user_calendars.each do |calendar| %>
  <div>
    <p>登録ユーザー: <%= calendar.user.username %>,カレンダーid: <%= calendar.id %></p>
    <p>タイトル: <%= calendar.title %></p>
    <p>説明：<%= calendar.description %></p>
    <%= link_to '編集', edit_user_calendar_path(calendar) %> |
   <%= link_to '削除', user_calendar_path(calendar), method: :delete, data: { confirm: '本当に削除しますか？' } %>
  　<% if calendar.events.any? %>
  　　<%= link_to 'イベントを表示', user_calendar_event_path(calendar, calendar.events.first) %>
    <% else %>
      <p>イベントがありません</p>
      <%= link_to 'イベント編集', new_user_calendar_event_path(user_calendar_id: calendar.id) %>
    <% end %>
  </div>
<% end %>
<%= link_to 'コメント一覧', comments_path %>