<%= form_with model: [@user_calendar, @event], local: true do |form| %>
  <div class="mb-3">
    <%= form.label :title, 'イベントタイトル' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :start_time, '開始日時' %>
    <%= form.datetime_select :start_time, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :end_time, '終了日時' %>
    <%= form.datetime_select :end_time, class: 'form-control' %>
  </div>
  <%= form.submit '保存', class: 'btn btn-primary' %>
<% end %>
