<!DOCTYPE html>
<html>
  <head>
    <title>カレンダー共有アプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag "application", { "data-turbo-track" => "reload" } %>
    <%= javascript_importmap_tags %>
    
    <% content_for :css do %>
      <%= stylesheet_link_tag 'header' %>
    <% end %>
  </head>
  <body>
    
    <header>
      <div class="header-container">
        <a href="<%= root_path %>" class="site-name">カレンダー共有アプリ</a>
        <%= form_with url: search_path, method: :get, local: true do |form| %>
        <%= form.text_field :query, placeholder: "Search..." %>
        <%= form.submit "Search" %>
        <% end %>
        <nav class="header-nav">
          <% if logged_in? %>
            <%= link_to 'マイページ', user_path(current_user), class: 'nav-link' %>
            <%= link_to 'ログアウト', top_logout_path, class: "btn btn-link" %>
          <% else %>
            <%= link_to '新規登録', new_user_path, class: 'nav-link' %>
            <%= link_to 'ログイン', login_path, class: 'nav-link' %>
          <% end %>
        </nav>
      
    
    </header>

    <main>
      <%= yield %>
    </main>
    
  </body>
</html>